NEO4J_HOST=neo4j
NEO4J_PASSWORD=narias98
NEO4J_USERNAME=neo4j
NEO4J_PORT=7687
X_ELS_APIKEY=
X_ELS_INSTTOKEN=
X_ELS_AUTHTOKEN=

DEBUG=True
MONGO_DB_NAME=
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
MONGO_DB_HOST=
MONGO_DB_PORT=